<% provide(:title, "#{@film["filmTitle"]}") %>
<% provide(:name, 'film') %>

<% content_for :head do %>

<style rel="stylesheet" name="film">

</style>
<% end %>

<% content_for :content do %>
  <div class="film-container c-normal-card-box c-center">
    <div class="film-title-area">
        <h1><%= @film["filmTitle"] %></h1>
    </div>
    <% @film["contents"].each do |content| %>
        <div class="film-single-item">
            <% content["images"].each do |image| %>
                <div class="screenshot">
                    <%= image_tag("#{@film["filmImagesLocation"]}#{image}") %>
                </div>
            <% end %>
            <% content["quotes"].each do |quote| %>
                <div class="film-quote <%= !quote["character"].present? ? 'c-hide' : '' %>">
                    <div class="character"><%= quote["character"] %>:</div>
                    <div class="lines"><%= quote["lines"] %></div>
                </div>
            <% end %>
        </div>
    <%end %>
  </div>
<% end %>

<% content_for :foot do %>

<% end %>
