<% provide(:title, "Home") %>

<% if logged_in? %>
  <section class="user-info-card">
    <div class="self-info">
      <span class="avatar">
        <%= link_to avatar_for(current_user), current_user, class: "avatar" %>
      </span>
      <span class="info">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </span>
    </div>
  </section>

  <section class="micropost-form">
    <%= render 'shared/micropost_form' %>
  </section>
<div class="feeds">
  <%= render 'shared/feed' %>
</div>
<% else %>

<% end %>

