<% provide(:title, "Home") %>

<% if logged_in? %>
<div class="summary">
  <section class="user_info">
    <span class="avatar">
      <%= link_to avatar_for(current_user), current_user, class: "user-link" %>
    </span>
    <span class="info">
      <%= render 'shared/user_info' %>
      <%= render 'shared/stats' %>
    </span>
  </section>

  <section class="micropost_form">
    <%= render 'shared/micropost_form' %>
    <div class="tweet-box condensed" contenteditable="true" spellcheck="true" role="textbox" data-placeholder-default="What's happening?">
      <div>What's happening?</div>
    </div>
  </section>
</div>
<div class="feeds">
  <h3>Micropost Feed</h3>
  <%= render 'shared/feed' %>
</div>
<% else %>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
<% end %>

<script>
  function setFocus(el) {
    var range = document.createRange();
    var sel = window.getSelection();
    range.setStart(el, 0);
    range.collapse(true);
    sel.removeAllRanges();
    sel.addRange(range);
  }
  (function(){
    var doc = document;
    var tb = doc.getElementsByClassName('tweet-box')[0];
    var tbd = tb.getElementsByTagName('div')[0];
    var tbdString = "<div><br></div>"

    tb.addEventListener('focus', function(ev) {
      tb.classList.remove('condensed');
      if(tb.getElementsByTagName('div') && tb.getElementsByTagName('div')[0].innerText.trim().length){
        
        tb.classList.remove('showPlaceholder');
      } else {
        tb.classList.add('showPlaceholder');
      }
      if(tbd.innerHTML === "What's happening?"){
        
      tbd.innerHTML = '<br>';
      }
    });
    tb.addEventListener('keyup', function(ev) {
      if (tb.innerHTML) {
        if (tb.getElementsByTagName('div')[0] && tb.getElementsByTagName('div')[0].textContent) {
          tb.classList.remove('showPlaceholder')
        } else{};
      } else{
        tb.innerHTML = tbdString;
        setTimeout(function() {

        setFocus(tb.getElementsByTagName('div')[0]);

        }, 0)
      };
    });

    tb.addEventListener('keydown', function(ev) {
      if (tb.getElementsByTagName('div')[0] && tb.getElementsByTagName('div')[0].textContent) {
        tb.classList.remove('showPlaceholder')
      };
      if(tb.innerHTML === "<br>"){
        console.log('null');
        tb.innerHTML = tbdString;
        setFocus(tb.getElementsByTagName('div')[0]);
      }
    });

  })();
</script>
