<% provide(:title, "Home") %>

<% if logged_in? %>
<div class="summary">
  <section class="user_info">
    <span class="avatar">
      <%= link_to avatar_for(current_user), current_user, class: "user-link" %>
    </span>
    <span class="info">
      <%= render 'shared/user_info' %>
      <%= render 'shared/stats' %>
    </span>
  </section>

  <section class="micropost_form">
    <%= render 'shared/micropost_form' %>
    <div class="tweet-box condensed" contenteditable="true" spellcheck="true" role="textbox" data-placeholder-default="What's happening?">
      <div>What's happening?</div>
    </div>
  </section>
</div>
<div class="feeds">
  <h3>Micropost Feed</h3>
  <%= render 'shared/feed' %>
</div>
<% else %>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
<% end %>

