<% provide(:title, "Home") %>

<% if logged_in? %>
<div class="summary">
  <section class="user_info">
    <span class="avatar">
      <%= link_to gravatar_for(current_user, size: 50), current_user %>
    </span>
    <span class="info">
      <%= render 'shared/user_info' %>
      <%= render 'shared/stats' %>
    </span>
  </section>

  <section class="micropost_form">
    <%= render 'shared/micropost_form' %>
  </section>
</div>
<div class="feeds">
  <h3>Micropost Feed</h3>
  <%= render 'shared/feed' %>
</div>
<% else %>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
<% end %>

