<% provide(:title, "Home") %>

<% if logged_in? %>
  <section class="user-info-card">
    <div class="self-info">
      <span class="avatar">
        <%= link_to avatar_for(current_user), current_user, class: "user-link" %>
      </span>
      <span class="info">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </span>
    </div>
  </section>

  <section class="micropost-form">
    <%= render 'shared/micropost_form' %>
  </section>
<div class="feeds">
  <h3>Micropost Feed</h3>
  <%= render 'shared/feed' %>
</div>
<% else %>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
<% end %>

