<% provide(:title, "Log in") %>
<h1 class="center">Log in</h1>

<div class="form-container">
    <%= form_for(:session, url: login_path, html: {class: "signin-form"}) do |f| %>
      <%= field_set_tag 'email', class: '' do %>
        <%= f.email_field :email, class: '' %>
      <% end %>

      <%= field_set_tag 'password', class: 'password-set' do %>
        <%= f.password_field :password, class: '' %>
        <%= link_to "(forgot password?)", new_password_reset_path, class: 'forget-pwd-link' %>
      <% end %>

      <%= field_set_tag nil, class: '' do %>
          <%= f.label :remember_me, class: "" do %>
            <%= f.check_box :remember_me, class: 'remember-checkbox' %>
            <span>Remember me on this computer</span>
          <% end %>
      <% end %>

      <div class="row">
          <%= f.submit "Log in", class: "btn btn-submit" %>
      </div>
    <% end %>
    <p class="extra">New user? <%= link_to "Sign up now!", signup_path %></p>
</div>