<% provide(:title, 'Reset password') %>
<h1 class="center">Reset password</h1>
<div class="form-container">
  <%= form_for(@user, url: password_reset_path(params[:id]), html: {class: "reset-pwd-form"}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= hidden_field_tag :email, @user.email %>
    <fieldset>
      <legend>password:</legend>
      <%= f.password_field :password, class: 'form-control' %>
    </fieldset>

    <fieldset>
      <legend>Confirmation:</legend>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </fieldset>

    <div class="row">
      <%= f.submit "Update password", class: "btn btn-submit" %>
    </div>
  <% end %>
  
</div>
