<% base_info = JSON.parse @pt_task['torrent_base_info']%>
<div style="background-color: #f4f5f9;
padding: 10px;
background-image: url(https://www.everthis.com/uploads/micropost/picture/20/baf12c13265309.56271db2234be-min.jpg);">
  <div style="height: 20px;"></div>

  <div style="

  ">
    <table style="margin: 0 auto; table-layout: fixed;
    border: 1px solid #fd48c7;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border-collapse:collapse;">
      <colgroup>
        <col style="width:15px" />
        <col style="width:280px" />
        <col style="width:15px" />
      </colgroup>
      <tbody>
        <tr style="
          border: none !important;
          position: relative;
          padding: 0;
          font-family: 'Verdana', 'Georgia', 'Calibri', 'Serif', 'Times New Roman';
          margin:0 auto;
          background-color: rgba(255,255,255,.75);
          font-size:0;
          ">

          <td style="
            border: none !important;
            vertical-align: top;
            height: 100%;
            background-image: url(https://www.everthis.com/uploads/img/left.png);
            background-repeat: repeat;
            background-size: contain;
          "> </td>


          <td style="
          border: none !important;
          vertical-align: top;">
            <div style="
              height: 15px;
              background-image: url(https://www.everthis.com/uploads/img/top.png);
              background-repeat: repeat;
              background-size: contain;
            "></div>
            <h4 style="font-size: 16px;">Hi, <%= @user.name %></h4>
            <p style="word-break: break-all; font-size: 14px; padding: 15px;">你添加的任务：<b><%= base_info['chsTitle'] %>（<%= base_info['engTitle'] %>）</b>已经处理完成。</p>
            <p style="word-break: break-all; font-size: 14px; padding: 15px;">你可以选择扫描二维码，或者点击下方按钮观看。</p>

            <p style="text-align:center;">
              <img style="display:inline-block;width:100%;" src="<%= @qrcodeUrl %>" />
            </p>
            <p style="padding: 15px;">
              <a style="word-break: break-all;
              text-decoration: none;
              display: block;
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              border-radius: 8px;
              font-size: 30px;
              color: #fff;
              " href="<%= @signUrl %>">
                <span style="
                  display: block;
                  text-align: center;
                  padding: 20px 30px;
                  background-color: #ec528d;
                  background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(hsla(338,90%,80%,.8)),to(hsla(338,90%,70%,.2)));
                  background-image: -webkit-linear-gradient(hsla(338,90%,80%,.8),hsla(338,90%,70%,.2));
                  background-image: -moz-linear-gradient(hsla(338,90%,80%,.8),hsla(338,90%,70%,.2));
                  background-image: -o-linear-gradient(hsla(338,90%,80%,.8),hsla(338,90%,70%,.2));
                  border-radius: 8px;
                  font-family: '\005b8b\004f53',sans-serif;
                  line-height: 1;
              ">点击观看</span>
              </a>
            </p>

            <p style="word-break: break-all; font-size: 14px; padding: 15px;">此邮件里的二维码和按钮的有效期均为一年，如果超过有效期，可前往<a style="outline: none;"
            href="https://www.everthis.com/pt_tasks">https://www.everthis.com/pt_tasks</a>自行观看。</p>
            <div style="text-align:center;">
              <span style="display: inline-block;
              height: 40px;
              width: 40px;
              background-image: url(https://www.everthis.com/uploads/img/happy.png);
              background-repeat: no-repeat;
              background-size: contain;
              "></span>
            </div>
            <div style="height: 20px;"></div>
          </td>
          <td style="
            border: none !important;
            height: 100%;
            background-image: url(https://www.everthis.com/uploads/img/right.png);
            background-repeat: repeat;
            background-size: contain;
            vertical-align:top;
          "> </td>
        </tr>
        <tr style="
          border: none !important;
          position: relative;
          padding: 0;
          border: 1px solid #fd48c7;
          box-sizing: border-box;
          border-radius: 4px;
          -webkit-border-radius: 5px;
          font-family: 'Verdana', 'Georgia', 'Calibri', 'Serif', 'Times New Roman';
          margin:0 auto;
          background-color: rgba(255,255,255,.75);
          font-size:0;
        ">
          <td colspan="3" style="
            border: none !important;
            background-image: url(https://www.everthis.com/uploads/img/top.png);
            background-repeat: repeat;
            background-size: contain;
            vertical-align:top;
          ">
           <div style="height: 15px;"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="height: 20px;"></div>
  <p style="text-align:center; font-size: 12px; color: #aaa;">cherry template by everthis.com</p>
  <div style="height: 20px;"></div>
</div>