<%= form_for(@email_whitelist) do |f| %>
  <% if @email_whitelist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_whitelist.errors.count, "error") %> prohibited this email_whitelist from being saved:</h2>

      <ul>
      <% @email_whitelist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, class: "new-whitelist-email-input" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
