<%= form_for(@user, html: {class: "signup-form"}) do |f| %>
  <% if f.object.errors.any? %>
    <div class="">
      <%= render 'shared/error_messages', object: f.object %>
    </div>
  <% end %>

  <% if logged_in? %>
  <div class="gravatar_edit">
    <%= avatar_for @user %>
    <%= render :partial => "shared/img_upload", :locals=>{:f=>f, :name=>:avatars} %>
  </div>
  <% end %>

  <%= field_set_tag t('.name'), class: '' do %>
    <%= f.text_field :name, class: 'form-control' %>

  <% end %>

  <%= field_set_tag t('.email'), class: '' do %>
    <%= f.email_field :email, class: 'form-control' %>

  <% end %>

  <%= field_set_tag t('.password'), class: '' do %>
    <%= f.password_field :password, class: 'form-control' %>

  <% end %>

  <%= field_set_tag t('.password_confirmation'), class: '' do %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

  <% end %>


  <div class="row">
    <%= f.submit yield(:button_text), class: "btn btn-submit" %>
  </div>

<% end %>