<section class="user-info-card">
  <div class="self-info">
    <span class="avatar">
      <%= avatar_for @user %>
    </span>
    <span class="info">
      <span><%= link_to @user.name, @user, class: "fnpu-link" %></span>
      <span><%= pluralize(@user.microposts.count, "micropost") %></span>
      <%= render 'shared/stats' %>
    </span>
  </div>


  <% if @users.any? %>
    <div class="user-avatars">
      <% @users.each do |user| %>

        <%= link_to(user, class: "follow-avatar-name fnpu-link") do %>
          <div class="avatar"><%= avatar_for(user, size: "small_thumb") %></div>
          <div class="name"><%= user.name %></div>
        <% end %>

      <% end %>
    </div>
  <% end %>
</section>

<div class="users-list">
  <h3 class="center"><%= @title %></h3>
  <% if @users.any? %>
    <div class=" follow">
      <%= render @users %>
    </div>
    <%= will_paginate %>
  <% end %>
</div>
