<div class="per-row">
  <span><%= avatar_for user, size: "small_thumb" %></span>
  <span><%= link_to user.name, user %></span>
  <span><%= user.email %></span>
  <span><%= link_to 'Show', user %></span>
  <span><%= link_to 'Edit', edit_user_path(user) %></span>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
  
</div>

