<% provide(:title, 'All users') %>
<h1>All users</h1>
<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<%= will_paginate %>

  <%= render @users %>


<%= will_paginate %>

<br>

<%= link_to 'New User', new_user_path %>
