<% provide(:title, @user.name) %>
  <div class="user-info-card">
    <section class="avatar">
      <%= avatar_for @user %>
    </section>
    <section class="info">
      <div class="user-name"><%= @user.name %></div>
      <%= render 'shared/stats' %>
      <%= render 'follow_form' if logged_in? %>
    </section>
  </div>
  <div class="feeds">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
