<%= will_paginate @instagram_images, :renderer => PaginationListLinkRenderer %>

<div class="instagram_images_container">
  <% @instagram_images.each do |image| %>
  <div class="instagram_image c-border c-center c-padding">
    <div class="thumbnail"><%= image_tag("#{local_instagram_path(image.thumbnail, image.owner_id+'/thumbnail')}", size: '620x620', :class => "avatar_img") %></div>
    <div class="code"><%= image.code %></div>
    <div class="timestamp">
      <% if !image.timestamp.nil? %>
        <%= image.timestamp.strftime("%F %T") %>
      <% end %>
    </div>
    <div class="caption"><%= image.caption %></div>
    <div class="owner_id">owner_id: <%= image.owner_id %></div>
  </div>
  <% end %>
</div>


<%= will_paginate @instagram_images, :renderer => PaginationListLinkRenderer %>
