<%= form_for(@micropost, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, type: "hidden", placeholder: "What's happening?", class: "new-post-text" %>
    <div class="tweet-box condensed tweet-box-text" contenteditable="true" spellcheck="true" role="textbox" data-placeholder-default="What's happening?">
      <div>What's happening?</div>
    </div>
  </div>
  <div class="new-post-toolbar">
    <%= render :partial => "shared/img_upload", :locals=>{:f=>f, :name=>:picture} %>

    <%= f.submit t('.post'), class: "btn btn-submit" %>
  </div>
<% end %>
