<%= form_for(@micropost, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, type: "hidden", placeholder: "What's happening?", class: "new-post-text" %>
    <div class="tweet-box condensed tweet-box-text" contenteditable="true" spellcheck="true" role="textbox" data-placeholder-default="What's happening?">
      <div>What's happening?</div>
    </div>
  </div>
  <div class="new-post-toolbar">
    <span class="image-upload">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', id: "micropost_picture", class: "micropost-input-file", data: { 'multiple-caption': "{count} files selected" } %>
      <label class="ellipsis reverse-ellipsis" for="micropost_picture"><span>Choose an image</span></label>
    </span>

    <%= f.submit "Post", class: "btn btn-submit" %>
  </div>
<% end %>

<script type="text/javascript">
  (function(){
    var doc = document;
    var $micropost_picture = doc.getElementById('micropost_picture');
    $micropost_picture.addEventListener('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert('Maximum file size is 5MB. Please choose a smaller file.');
      }
    });

    var tbt = document.getElementsByClassName('tweet-box-text')[0];
    var postText = document.getElementsByClassName('new-post-text')[0];
    var submitBtn = document.getElementsByClassName('btn-submit')[0];

    submitBtn.addEventListener('click', function() {
      if(tbt.textContent.trim() === 'What\'s happening?'){
        postText.value = '';
      } else {
        postText.value = tbt.textContent.trim();
      }
    });

    var inputs = document.querySelectorAll( '.micropost-input-file' );
    Array.prototype.forEach.call( inputs, function( input )
    {
      var label  = input.nextElementSibling,
        labelVal = label.innerHTML;

      input.addEventListener( 'change', function( e )
      {
        var fileName = '';
        if( this.files && this.files.length > 1 )
          fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
        else
          fileName = e.target.value.split( '\\' ).pop();

        // if( fileName )
        //   label.querySelector( 'span' ).innerHTML = fileName;
        // else
        //   label.innerHTML = labelVal;

        if( fileName )
          label.innerHTML = fileName;
        else
          label.innerHTML = labelVal;

          
      });
    });
  })();
</script>