<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @instagram_task.user_id %>
</p>

<p>
  <strong>Task type:</strong>
  <%= @instagram_task.task_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @instagram_task.status %>
</p>

<%= link_to 'Edit', edit_instagram_task_path(@instagram_task) %> |
<%= link_to 'Back', instagram_tasks_path %>
