<%= form_for(third_party_account) do |f| %>
  <% if third_party_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(third_party_account.errors.count, "error") %> prohibited this third_party_account from being saved:</h2>

      <ul>
      <% third_party_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field c-hide">
    <%= f.label :req_action %><br>
    <%= f.text_field :req_action, class: 'c-input', value: "index" %>
  </div>

  <div class="field c-hide">
    <%= f.label :is_active %><br>
    <%= f.check_box :is_active, {checked: true} %>
  </div>


  <div class="actions">
    <%= f.submit "Activate", class: 'c-button' %>
  </div>
<% end %>
