<p id="notice"><%= notice %></p>

<div class="c-card-box">
  <h1>Listing Third Party Accounts</h1>
  <table>
    <thead>
      <tr>
        <th>Account</th>
        <th>Is active</th>
        <th>Cookies</th>
        <th>Type</th>
        <th>Env</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @third_party_accounts.each do |third_party_account| %>
        <tr>
          <td><%= third_party_account.account %></td>
          <td><%= third_party_account.is_active %></td>
          <td><%= third_party_account.cookies %></td>
          <td><%= third_party_account.type %></td>
          <td><%= third_party_account.env %></td>
          <td><%= third_party_account.user %></td>
          <td><%= link_to 'Show', third_party_account %></td>
          <td><%= link_to 'Edit', edit_third_party_account_path(third_party_account) %></td>
          <td><%= link_to 'Destroy', third_party_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Third party account', new_third_party_account_path %>
  
</div>
