<style>
  .CodeMirror,
  .CodeMirror-scroll {
      height: auto;
      min-height: 108px;
  }
  .CodeMirror-gutter {
    height: 1px;
  }
</style>
<%= form_for(gist, html: {class: "gist_form"}) do |f| %>
  <% if gist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gist.errors.count, "error") %> prohibited this gist from being saved:</h2>

      <ul>
      <% gist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>
      <%= f.label :description, t('.description') %>
    </legend>
      <%= f.text_field :description, class: 'c-block-input' %>
  </fieldset>

  <div class="field c-gap-top">
    <%= f.label :extension, t('.extension') %>
    <%= f.select :extension, %w{plaintext javascript markdown css ruby sass html erb PHP SQL}, :include_blank => false %>
  </div>

  <fieldset class="c-auto-fieldset">
    <legend>
    <%= f.label :content, t('.content') %>
    </legend>
    <%= f.text_area :content, class: 'c-hide' %>
    </legend>
  </fieldset>

  <div class="field c-gap-top">
    <%= f.label :hasAnswer, t('.hasAnswer') %>
    <%= f.check_box :hasAnswer %>
  </div>

  <fieldset class="c-auto-fieldset">
    <legend>
    <%= f.label :answer, t('.answer') %>
    </legend>
    <%= f.text_area :answer, class: 'c-hide' %>
  </fieldset>

  <div class="actions c-center c-gap-top">
    <%= f.submit class: 'c-form-submit c-btn' %>
  </div>
<% end %>
