<% provide(:title, 'Gists') %>
<% provide(:name, 'gists') %>

<% content_for :content do %>
<div class="c-normal-card-box">
  <p id="notice"><%= notice %></p>

  <h1>Gists</h1>

      <% @gists.each do |gist| %>
          <h3><%= gist.description %></h3>
          <h3><%= gist.extension %></h3>
          <div class="per-gist">
            <%= coderay(truncate(gist.content, length: 450,
                                 separator: ' ', omission: ' ... ') {}, gist.extension) %>
          </div>
          <div><%= gist.hasAnswer %></div>
          <div><%= markdown2 gist.answer %></div>
          <div><%= gist.externalId %></div>
          <div><%= link_to 'Show', gist, class: "fnpu-link" %> | <%= link_to 'Edit', edit_gist_path(gist), class: "fnpu-link" %> | <%= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>


  <br>

  <%= link_to 'New Gist', new_gist_path, class: "fnpu-link" %>
</div>

<% end %>
