<% provide(:title, 'Gist') %>
<% provide(:name, 'gist') %>

<% content_for :content do %>
<div class="c-normal-card-box">
  <p id="notice"><%= notice %></p>

  <h1>Gists</h1>

  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Content</th>
        <th>Hasanswer</th>
        <th>Answer</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @gists.each do |gist| %>
        <tr>
          <td><%= gist.description %></td>
          <td><%= gist.content %></td>
          <td><%= gist.hasAnswer %></td>
          <td><%= gist.answer %></td>
          <td><%= link_to 'Show', gist %></td>
          <td><%= link_to 'Edit', edit_gist_path(gist) %></td>
          <td><%= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Gist', new_gist_path, class: "fnpu-link" %>
</div>

<% end %>
