<% provide(:title, 'Gist') %>
<% provide(:name, 'gist') %>

<% content_for :content do %>
  <div class="c-normal-card-box">
    <p id="notice"><%= notice %></p>

    <p>
      <strong><%= t('.description') %>:</strong>
      <%= @gist.description %>
    </p>

    <p>
      <strong><%= t('.extension')%>:</strong>
      <%= @gist.extension %>
    </p>

    <p>
      <strong><%= t('.content') %>:</strong>
      <div class="content-container">
        <%= coderay(@gist.content, @gist.extension) %>
      </div>
    </p>

    <p>
      <strong><%= t('.hasAnswer') %>:</strong>
      <%= @gist.hasAnswer %>
    </p>

    <p>
      <strong><%= t('.answer') %>:</strong>
      <span class="answer-container">
        <%= coderay(@gist.answer, @gist.extension) %>
      </span>
    </p>

    <p>
      <strong><%= t('.externalId') %>:</strong>
      <%= @gist.externalId %>
    </p>

    <%= link_to t('.edit'), edit_gist_path(@gist), class: "fnpu-link" %> |
    <%= link_to t('.back'), gists_path, class: "fnpu-link" %>
  </div>
<% end %>

<% content_for :foot do %>
<% end %>
