<%= form_with(model: pt_task, local: true) do |form| %>
  <% if pt_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pt_task.errors.count, "error") %> prohibited this pt_task from being saved:</h2>

      <ul>
      <% pt_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title_cn %>
    <%= form.text_field :title_cn %>
  </div>

  <div class="field">
    <%= form.label :title_en %>
    <%= form.text_field :title_en %>
  </div>

  <div class="field">
    <%= form.label :api_response %>
    <%= form.text_field :api_response %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
