<% provide(:title, 'PT tasks') %>
<% provide(:name, 'PT_tasks') %>

<% content_for :content do %>

<div class="c-normal-card-box">
<p id="notice"><%= notice %></p>
<div class="pt-tasks-search-container">
  <div class="pt-tasks-search">
    <div class="search-row">
      <span class="search-pt-wrap">
        <input type="text" id="pt-tasks-q" class="c-input">
        <button type="button">Search</button>
      </span> 
      <span class="extra-link-area">
        <%= link_to t('.pending-pt-task'), pending_pt_task_path, class: 'fnpu-link' %>
        <%= link_to t('.completed-pt-task'), completed_pt_task_path, class: 'fnpu-link' %>
      </span>
    </div>
    <div class="pt-tasks-search-result pt-tasks-container c-pad-top"></div>
  </div>
</div>
<%= render 'pt_tasks' %>

<h1>Pt Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Title cn</th>
      <th>Title en</th>
      <th>Api response</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pt_tasks.each do |pt_task| %>
      <tr>
        <td><%= pt_task.title_cn %></td>
        <td><%= pt_task.title_en %></td>
        <td><%= pt_task.api_response %></td>
        <td><%= link_to 'Show', pt_task %></td>
        <td><%= link_to 'Edit', edit_pt_task_path(pt_task) %></td>
        <td><%= link_to 'Destroy', pt_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pt Task', new_pt_task_path %>
</div>


<% end %>
<% content_for :foot do%>
  <%= javascript_pack_tag 'ptTask', name: "ptTask" %>
<% end %>
