<% provide(:title, 'pending PT tasks') %>
<% provide(:name, 'pending_PT_tasks') %>

<% content_for :content do %>

<div class="c-normal-card-box">
  <p id="notice"><%= notice %></p>
  <div class="c-gap-bottom c-text-right link-row">
    <%= link_to t('.pt-tasks'), pt_tasks_path, class: 'fnpu-link' %>
    <%= link_to t('.completed-pt-task'), completed_pt_task_path, class: 'fnpu-link' %>
  </div>

  <%= will_paginate @pt_tasks, :renderer => PaginationListLinkRenderer %>
  <div class="pt-task-hints c-pad-top c-pad-bottom c-gap-top">
    <ul>
      <li>每个任务有三种状态：waiting（已被添加，等待执行），pending（正在执行），completed（执行完毕）</li>
      <li>目前的服务器资源仅允许同一时间执行一个任务</li>
    </ul>
  </div>
  <div id="app">
    <pt-task-log></pt-task-log>
  </div>
  <%= will_paginate @pt_tasks, :renderer => PaginationListLinkRenderer %>
</div>



<% end %>
<% content_for :foot do%>
  <%= javascript_pack_tag 'ptTaskLog', name: "pending_PT_tasks" %>
<% end %>