<% provide(:c_layout, 'user_preference_spf') %>
<% provide(:title, 'User-preference') %>
<% provide(:name, 'userPreference') %>

<% content_for :header_content do %>
  <%= render 'layouts/header' %>
<% end %>

<% content_for :content do %>
<div id="locale-container">
  <%= form_for(@user_pref, url:{:controller=>'user_preference', :action=>'update'},
                          method: 'post',
                html: {class: "locale-form"}) do |f| %>
    <% if f.object.errors.any? %>
      <div class="">
        <%= render 'shared/error_messages', object: f.object %>
      </div>
    <% end %>

    <% if logged_in? %>
    <%= f.select :locale,
      options_for_select(LANGUAGES, @user_pref.locale),
      {},
      {:class => "select-change-trigger c-bg-gray"} %>
    <% end %>

    <div class="row c-hide">
      <%= f.submit yield(:button_text), class: "btn btn-submit" %>
    </div>

  <% end %>
</div>
<% end %>

<% content_for :foot do %>
  <script name="userPreference">
    (function() {
      var sct;
      var cname = A.gc.currentName;
      function getSelectEle() {
        sct = document.getElementsByClassName('select-change-trigger')[0]
      }
      function initUserPreference() {
        getSelectEle();
        sct.addEventListener('change', cb, false);
      }
      function destroyUserPreference() {
        sct.removeEventListener('change', cb, false);
      }
      function detachUserPreference() {
        A.spf.script.unload(cname);
      }
      function cb(ev) {
        var f = ev.target.form;
        var fa = f.action;
        var fd = new FormData(ev.target.form);
        window.A.spf.load(fa, {
          method: "POST",
          postData: fd,
          onProcess: function(evt) {
            destroyUserPreference();
          },
          onDone: function(evt) {
            initUserPreference();
          }
        });
      }
      A.init[cname] = initUserPreference;
      A.destroy[cname] = destroyUserPreference;
      A.detach[cname] = detachUserPreference;
    })();
  </script>
<% end %>

