<%= form_for(@user_pref, url:{:controller=>'user_preference', :action=>'set_locale'}, 
	                      method: 'post',
						  html: {class: "signup-form"}) do |f| %>
 Hi, <%= @user_pref.to_json.html_safe %>
  <% if f.object.errors.any? %>
    <div class="">
      <%= render 'shared/error_messages', object: f.object %>
    </div>
  <% end %>
  
  <% if logged_in? %>
	<%= f.select :locale, 
  	options_for_select(LANGUAGES, @user_pref.locale),
  	{},
  	{:class => "select-change-trigger"} %>
  <% end %>

  <div class="row c-hide">
    <%= f.submit yield(:button_text), class: "btn btn-submit" %>
  </div>
  
<% end %>

<script>
  var wgc = window.gc || {};
  var sct = document.getElementsByClassName('select-change-trigger')[0];
  sct.addEventListener('change', cb, false);
  function cb(ev) {
    console.log(ev);
    var f = ev.target.form;
    var fa = f.action;
    console.log(fa);
    var fd = new FormData(ev.target.form);
    console.log(fd);
    spf.load(fa, {
      method: "POST",
      postData: fd
    })
  }
</script>
