<div class="c-normal-card-box">
  <p id="notice"><%= notice %></p>

  <h1>Npm Registries</h1>

  <table>
    <thead>
      <tr>
        <th>Label</th>
        <th>Registry url</th>
        <th>Checked</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @npm_registries.each do |npm_registry| %>
        <tr>
          <td><%= npm_registry.label %></td>
          <td><%= npm_registry.registry_url %></td>
          <td><%= npm_registry.checked %></td>
          <td><%= link_to 'Show', npm_registry %></td>
          <td><%= link_to 'Edit', edit_npm_registry_path(npm_registry) %></td>
          <td><%= link_to 'Destroy', npm_registry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <%= link_to 'New Npm Registry', new_npm_registry_path %>
</div>