<div class="c-normal-card-box">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Label:</strong>
	  <%= @npm_registry.label %>
	</p>

	<p>
	  <strong>Registry url:</strong>
	  <%= @npm_registry.registry_url %>
	</p>

	<p>
	  <strong>Checked:</strong>
	  <%= @npm_registry.checked %>
	</p>

	<%= link_to 'Edit', edit_npm_registry_path(@npm_registry) %> |
	<%= link_to 'Back', npm_registries_path %>
</div>
