<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @pt_task_log.status %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @pt_task_log.detail %>
</p>

<%= link_to 'Edit', edit_pt_task_log_path(@pt_task_log) %> |
<%= link_to 'Back', pt_task_logs_path %>
