<%= form_tag fis_ci_plugins_path, class: 'c-hide fis-ci-plgins-form' do %>


  <%= fis_ci_plugins.each do |fis_ci_plugin| %>

    <% if fis_ci_plugin.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(fis_ci_plugin.errors.count, "error") %> prohibited this fis_ci_plugin from being saved:</h2>

        <ul>
        <% fis_ci_plugin.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    
  <% end %>
  
  <div class="actions">
    <%= submit_tag "submit", class: "fis-ci-plgins-form-submit-btn"%>
  </div>

<% end %>
