<header>
    <nav class="nav">
      <ul class="static-links">
        <li class="first-layer"><%= link_to "Homepage", root_path, id: "logo" %></li>
        <% if logged_in? %>
        <li class="first-layer"><%= link_to "Dev", dev_path %></li>
        <% end %>
        <li class="first-layer"><%= link_to "Help", help_path %></li>
        <li class="first-layer"><%= link_to "Contact", contact_path %></li>
        <li class="first-layer"><%= link_to "About", about_path %></li>
        <li class="first-layer"><%= link_to "Log", log_path %></li>
        <li class="first-layer"><%= link_to "Demo", demo_path %></li>
      </ul>
      <ul class="user-links">
        <% if logged_in? %>
          <li class="first-layer"><%= link_to "Users", users_path %></li>
          <li class="first-layer"><%= link_to "Profile", current_user %></li>
          <li class="first-layer"><%= link_to "Settings", edit_user_path(current_user) %></li>
          <li class="first-layer"><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
          <li class="first-layer"><%= link_to "Log in", login_path %></li> |
          <li class="first-layer"><%= link_to "Sign up", signup_path %></li>
        <% end %>
      </ul>
    </nav>
</header>