<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>

  <%= stylesheet_pack_tag 'globalA' %>

  <%= content_for?(:head) ? yield(:head) : nil %>
</head>
<body id="body" class='<%= controller.controller_name %>' data-spf-name="<%= yield(:name) %>">
  
  <%= render 'layouts/svg_icons.html'%>

  <div id="body-container">
    <div id="flash-container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>      
    </div>

    <div id="header-container">
      <%= render 'layouts/header' %>
    </div>

    <div id="page-container">
      <%= content_for?(:content) ? yield(:content) : nil %>
    </div>

    <div id="footer-container">
      <%= render 'layouts/footer' %>
    </div>
  </div>
  <!-- loading bar mount point -->
  <style>
  .app-loading-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
  }
  .app-loading-bar-inner-color-primary {
    background-color: #39f;
  }
  .app-loading-bar-inner {
    display: inline-block;
    height: 2px;
    transition: width .2s linear;
  }
</style>
  <div id="loadingBar-container"></div>

  <%= debug(params) if Rails.env.development? %>

  <script>
    <%= render 'layouts/c_base_global_foot.js' %>
  </script>
  <%= javascript_pack_tag 'globalA', name: 'globalA' %>

  <%= content_for?(:foot) ? yield(:foot) : nil %>

  <script>
    <%= render 'layouts/c_base_global_foot_post.js' %>
  </script>
</body>
</html>
