<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>

  <%= c_stylesheet_link_tag 'globalA' %>

  <%= content_for?(:head) ? yield(:head) : nil %>
</head>
<body id="body" class='<%= controller.controller_name %>' data-spf-name="<%= yield(:name) %>">
  <%= render 'layouts/svg_icons.html'%>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <div id="body-container">

    <div id="flash-container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>      
    </div>

    <div id="header-container">
      <%= content_for?(:header_content) ? yield(:header_content) : nil %>
    </div>

    <div id="page-container">
      <%= content_for?(:content) ? yield(:content) : nil %>
    </div>

    <div id="footer-container">
      <%= content_for?(:footer_content) ? yield(:footer_content) : nil %>
    </div>
  </div>

  <%= debug(params) if Rails.env.development? %>

  <script>
    <%= render 'layouts/c_base_global_foot.js' %>
  </script>
  <%= javascript_pack_tag 'globalA', name: 'globalA' %>

  <%= content_for?(:foot) ? yield(:foot) : nil %>

  <script>
    <%= render 'layouts/c_base_global_foot_post.js' %>
  </script>

</body>
</html>
